.header {
    font-family: sans-serif;
    color: #1e1e1e;
    background-color: #e1e1e1;
    text-align: center;
    font-size: 24px;
    padding: 20px;

}


body {
    margin: 0;
    padding: 0;
}


svg {
    height: 300px;
    width: 300px;
}

